<!--@import url(http://fonts.googleapis.com/css?family=Electrolize|Courgette|Open+Sans);-->
@import url("reset.css");
/*html{background:url(../images/bg_repeat.jpg) repeat-y left top #F5F5F5;}*/
body{
/*    background:#EEEEEE;*/
  /*  font-family: 'Open Sans', sans-serif;*/

    
/*    background:url(../images/bg_top.jpg) no-repeat left top;   */
}
#wrap
{
	margin-left:0px;
    padding:0px;
    
    width:990px;
    border:0px solid blue;
   /* background-color: #EFEFEF; */
}
#gallery
{
    padding:0px;
    margin:0;    
    width: 990px;
    float: left;
    border:0px solid blue;
}

#gallery h1
{
    font-family: 'Electrolize', sans-serif;
    font-family: 'Courgette', cursive;
    font-style: normal;
    font-size:25px;
    color:#666;
    text-align: center;
    padding:6px;
    padding-bottom: 0px;
    padding-top:15px;
    width: 99%;
    border:0px solid blue;
}
#gallery .back img
{
    margin-top: -3px;
    opacity:0.7;
    -moz-opacity:0.7;
}
#gallery .back
{
    font-family: 'Courgette', cursive;
     font-size:18px;
    color:#333;
    text-align: left;
    width: 100px;
    display: block;
    border:0px solid blue;
    padding:0px;
    margin:0px;
    padding-left:8px;
    line-height: 25px;
    height: 25px;
    text-decoration: none;
}

#top
{
    padding:0px;
    margin:0;      
    width: 100%;
    border:0px solid red;
    margin:  0 auto;
    height: 115px; 
    float: left;
    background:url(../images/logocam.png) no-repeat left 20px; 
}


#top h1
{
    font-family: 'Courgette', cursive;
    font-family: 'Electrolize', sans-serif;
    font-style: normal;
    font-size:40px;
    color:#666;
    padding:10px;    
    padding-left:150px;    
    padding-top:40px;    
}
#top h1 span
{
    color:#999;
}

#top-menu ul{ 
    list-style:none;
    padding:0px; 
    margin:0px;
}

#top-menu ul li
{
    padding:0px; 
    margin:0px; 
    float:left; 
    display:inline;
}

#top-menu ul li a
{ 
    font-family: 'Courgette', cursive;
    font-family: 'Electrolize', sans-serif; 
    padding:0px; 
    margin:0px; 
    float:left; 
    text-decoration:none; 
    font-size:20px; 
    color:#333; 
    padding:15px 0 0 0; 
    margin:0 25px 0 5px;
}

#top-menu ul li.current a
{ 
    padding:0px;
    margin:0px; 
    float:left; 
    text-decoration:none; 
    font-size:20px; 
    color:#333; 
    border-top:4px #fff solid;
    padding:11px 0 0 0; 
    margin:0 25px 0 5px;
}

#top-menu ul li a:hover
{
    border-top:4px #fff solid;
    padding:11px 0 0 0;
}

#footer
{
    padding:0px;
    margin:0;      
    float: left;
    width: 100%;
    border:0px solid red;
    margin:  0 auto;
    height:54px;
    background:url(../images/footer_bg.png) no-repeat center -25px; 
    color:#7c7c7c;
    padding:0 0 0 10px;    
}


#footer h1
{
    font-family: 'Courgette', cursive;
    font-family: 'Electrolize', sans-serif;
    font-style: normal;
    font-size:13px;
    color:#ccc;
    padding:10px;    
    text-align: right;
    padding-right: 23px;
}